form#easytab-ai-prompt details {
	width: 50%;
	cursor: pointer;
}

form#easytab-ai-prompt details summary {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

form#easytab-ai-prompt details div.info {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
	background-color: ghostwhite;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	font-style: italic;
	margin-top: 10px;
}

form#easytab-ai-prompt details summary::before {
	content: "";
	display: block;
	background-image: url("../img/help.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	width: 15px;
	height: 15px;
	padding-right: 10px;
}

/**/

.wc-tabs {
	overflow: hidden;
	background-color: #f1f1f1;
	width: auto;
	display: inline-block;
}

.wc-tabs button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
	padding: 14px 16px;
	transition: 0.3s;
}

.wc-tabs button:hover {
	background-color: #ddd;
}

.wc-tabs button.active {
	background-color: #ccc;
}

.wc-tab-section {
	padding: 6px 12px;
}

/**/

#easytab-pro-banner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #6214a8;
	margin-left: -20px;
	padding: 20px 0;
	box-shadow: 0 0 10px 0 #000;
}

#easytab-pro-banner img {
	filter: invert(100);
}

#easytab-pro-banner button {
	background-color: #fff;
	border: navajowhite;
	width: 200px;
	height: 50px;
	cursor: pointer;
}

#easytab-pro-banner h4 {
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0;
	margin-left: -15px;
}

#easytab-pro-banner ul {
	padding-right: 40px;
	font-style: italic;
	list-style-type: square;
}

#easytab-pro-banner ul li {
	color: #fff;
}
